@import "./header.css";
@import "../css/side-panel.css";

body {
    margin: 0;
    padding: 0;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;

    list-style-type: none;
}